<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="ru.sber"/>

   <!-- <bean id = "poolDateSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value=""/>
    </bean>


    <bean id = "sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="poolDateSource"/>
        <property name="confiLocation" value="/SqlMapConfig.xml"/>
    </bean>-->



</beans>